$stars: "url(../../images/bg-stars.svg)";
$hills: "url(../../images/pattern-hills.svg)";

@font-face {
  font-family: "RedHatText";
  src: url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
}

body {
  font-family: "RedHatText", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  height: 100dvh;
  background-color: hsl(235, 16%, 14%);
  background-image: #{$stars}, #{$hills};
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom;
  background-size: cover, contain;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  h3 {
    color: white;
    letter-spacing: 8px;
    width: 100%;
    text-align: center;
  }
  .timer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .timer-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: hsl(345, 95%, 68%);
      width: 80%;
      perspective: 1000px; /* Enables 3D transformations */
      position: relative;
      .card {
        width: 120px;
        max-width: 80%;
        height: 110px;
        perspective: 1000px; /* Enables 3D transformations */
        position: relative;
      }
      .number {
        font-size: 3rem;
      }
      p {
        color: hsl(237, 18%, 59%);
        letter-spacing: 2px;
      }
    }
  }
}

#top-half {
  width: 100%;
  height: 50%;
  border-radius: 15px 15px 0 0;
  z-index: 1;
  background: radial-gradient(
        circle 1px at bottom left,
        transparent 5px,
        hsl(234, 17%, 16%) 1px
      )
      bottom left,
    radial-gradient(
        circle at bottom right,
        transparent 5px,
        hsl(234, 17%, 16%) 0
      )
      bottom right;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  transform-origin: bottom; /* Flip from the bottom */
}

#bottom-half {
  height: 50%;
  border-radius: 0 0 15px 15px;
  background-color: hsl(236, 21%, 22%);
  transform-origin: top; /* Flip from the top */
  //   transform: rotateX(-180deg); /* Start with the bottom half flipped */
  background: radial-gradient(
        circle 1px at top left,
        transparent 5px,
        hsl(236, 21%, 22%) 1px
      )
      top left,
    radial-gradient(circle at top right, transparent 5px, hsl(236, 21%, 22%) 0)
      top right;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    z-index: -1;
    left: 0;
    right: 0;
    height: 10px;
    background-color: hsl(234, 17%, 12%);
    border-radius: 0 0 15px 15px;
  }
}
.number {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%; /* Center vertically in the card */
  transform: translateY(-50%); /* Adjust the vertical position */
  font-size: 2rem;
}
.icons {
  position: bottom;
  display: flex;
  justify-content: space-between;
  width: 140px;
  bottom: 10%;
  position: absolute;
  svg {
    cursor: pointer;
    path:hover {
      transition: 0.5s;
      fill: hsl(345, 95%, 68%);
    }
  }
}
.attribution {
  color: hsl(237, 18%, 59%);
  font-size: 11px;
  text-align: center;
  bottom: 2%;
  position: absolute;
  a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
    &:hover {
      color: hsl(345, 95%, 68%);
    }
  }
}

@media (max-width: 500px) {
  .timer {
    scale: 0.7;
  }
}
